* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-color: #0c111b;
    position: relative;
}

.navbar {
    width: 100%;
    height: 80px;
    position: fixed;
    background-color: #0c111b;
    align-items: center;
    top: 0;
    left: 0;

    z-index: 2;
    padding: 3%;
    display: flex;
    /* font-family: 'Inconsolata', monospace; */
    font-family: 'Roboto', sans-serif;

}



.nav-logo {
    height: 70px;

}

.nav-items {
    list-style-type: none;
    display: flex;
    margin-top: 20px;
}

.nav-items a {
    text-decoration: none;
    color: azure;
    margin-left: 20px;
    text-transform: capitalize;
    font-weight: 300;


}

.right-side {
    display: block;
    margin-left: auto;
    font-family: 'Roboto', sans-serif;


}

.search {
    border: none;
    background: transparent;
    color: #fff;
    height: 30px;
    width: 250px;
    transition: .5s;
    text-transform: capitalize;
    font-size: 15px;
    border-bottom: 1px solid gainsboro;
    font-weight: 700;
    outline: none;

}

.search:focus {
    width: 400px;
    border-color: #1f80e0;
}

.btn-signin {
    border: 1px solid #1f80e0;
    border-radius: 10px;
    background: transparent;
    color: #1f80e0;
    height: 34px;
    width: 100px;
    text-transform: capitalize;
    font-weight: 700;
    margin-left: 10px;
    text-align: center;
}

.btn-signin:hover {
    background-color: #1f80e0;
    color: whitesmoke;
}

.login {
    text-decoration: none;
    margin-left: 10px;
    color: #1f80e0;

}

.login:hover {
    color: whitesmoke;
}




.video {
    height: 660px;
    width: 100%;
    margin-top: 93px;
}

.cont {
    width: 1035px;
    height: 299px;
    margin-top: 30px;
    margin-left: 58px;


}

a {
    text-decoration: none;


}

.type {
    padding-top: 100px;
    color: #1f80e0;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 30px;
}

.name {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    padding-bottom: 27px;
}

.rate {
    color: #909999;
    font-family: 'Roboto', sans-serif;
}

.dot {
    font-size: 30px;
    color: #909999;
    padding-right: 5px;
    padding-left: 5px;
}

.about {
    color: #909999;
    padding-top: 30px;
    padding-bottom: 27px;
    font-family: 'Roboto', sans-serif;
    line-height: 30px;
    word-spacing: 2px;
}

.plus {
    padding-left: 24px;
    color: #909999;
    /* display: inline-block; */
    font-size: 40px;
}

.watch {
    color: white;
    font-family: 'Roboto', sans-serif;
    /* margin-left: 20px; */
}

.border {
    margin-top: 20px;
}

.like {
    padding-top: 30px;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding-left: 58px;
    padding-bottom: 50px;
}

.vddiv {
    margin-left: 58px;
    width: 1153px;
    height: 297px;
    display: flex;
    margin-bottom: 123px;
    margin-right: 327px;


}

.vdcard {
    height: 294px;
    width: 192px;
    background-repeat: space;
    margin-right: 40px;
}

.vdcard img {
    width: 192px;
    height: 294px;
    overflow: hidden;
    transition: 1s;
    background-color: red;



}

.vdcard img:hover {
    transform: scale(1.1, 1.2);
    border-radius: 10px;
}

footer {
    margin-left: 58px;
    height: 131px;
    width: 1343px;
    margin-bottom: 50px;
}

.foot {
    color: #909999;
    font-family: 'Roboto', sans-serif;
    padding-right: 20px;

}

.footD {
    color: #909999;
    font-family: 'Roboto', sans-serif;
    padding-top: 30px;
    /* align-items: left; */
    width: 540px;
}

.connect {
    padding-left: 340px;
    color: #909999;
    font-family: 'Roboto', sans-serif;

}

.plusApp {
    padding-left: 693px;
    color: #909999;
    font-family: 'Roboto', sans-serif;

}

.footBut {
    position: absolute;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    left: 1137px;
    bottom: 31px;
}

.googlepl {
    width: 149px;
    height: 72px;

}

.footBut2
{
    position: absolute;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    left: 1285px;
    bottom: 42px;

}

.apple
{
    width: 141px;
    height: 48px;

}